<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>

    <meta-data
        android:name="com.google.android.gms:play-services-identity-credentials:16.0.0-alpha05"
        android:value="@integer/google_play_services_version" />

    <application
        android:name=".App"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Szemelyes_penzugyi_menedzser"
        android:enableOnBackInvokedCallback="true"
        android:screenOrientation="portrait"
        android:allowBackup="true"
        android:supportsRtl="true"
        tools:ignore="DiscouragedApi">

        <!-- BroadcastReceiver a levonásokhoz -->
        <receiver android:name=".KifizetesAlarmReceiver" android:exported="false" />

        <activity
            android:name=".KategoriaTranzakciokActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_kategoria_tranzakcio"
            android:theme="@style/Theme.Szemelyes_penzugyi_menedzser" />

        <activity
            android:name=".KategoriaHozzaadasActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_kategoria_hozzaadas"
            android:theme="@style/Theme.Szemelyes_penzugyi_menedzser" />

        <activity
            android:name=".HozzaadasActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_hozzaadas"
            android:resizeableActivity="true"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.Szemelyes_penzugyi_menedzser" />

        <activity
            android:name=".BeallitasokActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_beallitasok"
            android:theme="@style/Theme.Szemelyes_penzugyi_menedzser" />

        <activity
            android:name=".RendszeresKifizetesek"
            android:screenOrientation="portrait"
            android:exported="false" />

        <activity
            android:name=".ElemzesActivity"
            android:exported="true"
            android:parentActivityName=".Telefonszam"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Kategoriak"
            android:screenOrientation="portrait"
            android:exported="true"
            android:parentActivityName=".Telefonszam" />

        <activity
            android:name=".Regisztracio"
            android:screenOrientation="portrait"
            android:exported="false" />

        <activity
            android:name=".Telefonszam"
            android:screenOrientation="portrait"
            android:exported="false" />

        <activity
            android:name=".Bejelentkezes"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
